## Application specific settings
export APP_HOME="$PWD"
export DRONE_SERVER="http://drone-127.0.0.1.sslip.io:30980"
export DRONE_TOKEN="<your drone token>"
export REGISTRY_NAME=nexus.infra.svc.cluster.local
export IMAGE_REGISTRY_USER=admin
export IMAGE_REGISTRY_PASSWORD=admin123
export GITEA_USERNAME=user-01
export LINGUA_GREETER_GIT_REPO="${GITEA_USERNAME}/lingua-greeter"
export LINGUA_GREETER_GIT_REV="main"

export KAFKA_BOOTSTRAP_SERVERS=localhost:9092
export GOOGLE_APPLICATION_CREDENTIALS="point to the Google Cloud SA JSON"
export QUARKUS_MODE=jvm
export DRONE_TOKEN="token from Drone account settings page"
export MAVEN_MIRROR_URL='http://nexus.infra:30081/repository/maven-public/'

source_env_if_exists .envrc.local